[Unit]
Description=Postgres Exporter
After=network.target

[Service]
User=ansible
Environment=DATA_SOURCE_NAME=postgresql://{{ db_user }}{{ ':' + db_password if db_password else '' }}@{{ ansible_host }}:5433/{{ db_name }}?sslmode=disable
Environment=PG_EXPORTER_AUTO_DISCOVER_DATABASES=true
ExecStart=/usr/local/bin/postgres_exporter
Restart=always

[Install]
WantedBy=multi-user.target