[Unit]
Description=Postgres Exporter
After=network.target

[Service]
User=ansible
Environment=DATA_SOURCE_NAME=postgresql://yugabyte:Admin123@10.0.0.10:5433/yugabyte?sslmode=disable

ExecStart=/usr/local/bin/postgres_exporter \
  --disable-default-metrics \
  --no-collector.pg_stat_statements \
  --no-collector.stat_bgwriter \
  --no-collector.stat_database \
  --no-collector.locks \
  --no-collector.replication \
  --no-collector.postmaster

Restart=always

[Install]
WantedBy=multi-user.target