[Unit]
Description=YugabyteDB Cluster (yugabyted-managed)
After=network-online.target

[Service]
Type=simples
RemainAfterExit=yes
User=yugabyte
Group=yugabyte
WorkingDirectory=/home/yugabyte

ExecStart=/usr/bin/python3 /home/yugabyte/yugabyte-2025.2.2.0/bin/yugabyted start
ExecStop=/usr/bin/python3 /home/yugabyte/yugabyte-2025.2.2.0/bin/yugabyted stop
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target