[Unit]
Description=YugabyteDB Cluster (yugabyted-managed)
After=network-online.target

[Service]
Type=simples
RemainAfterExit=yes
User=cloud-user
Group=cloud-user
WorkingDirectory=/home/cloud-user

ExecStart=/usr/bin/python3 /home/cloud-user/yugabyte-2025.2.2.0/bin/yugabyted start
ExecStop=/usr/bin/python3 /home/cloud-user/yugabyte-2025.2.2.0/bin/yugabyted stop
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target