[ req ]
prompt=no
distinguished_name = my_distinguished_name

[ my_distinguished_name ]
organizationName = Yugabyte
commonName = {{ node_ip }}

[ req_ext]
subjectAltName = @alt_names

[alt_names]
{% for host in groups['yugabyte_nodes'] %}
IP.{{ loop.index }} = {{ hostvars[host].ansible_host }}
{% endfor %}